# Ignore the CCLS cache directory and files
.ccls-cache/
.ccls

# Ignore Makefile
Makefile

# Ignore other files that are commonly ignored
*.o
*.out
*.log
*.tmp

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore Git-specific files
.git/

